html,
body {
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background: var(--color-main);
    position: relative;
    user-select: none;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

input::placeholder {
    color: var(--color-font-2);
}

select:focus,
textarea:focus {
    outline: none;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.custom-focus {
    outline: none;
}

.custom-focus:focus-visible {
    animation: custom-focus 0.1s ease-out forwards;
}

@keyframes custom-focus {
    0% {
        outline: 15px solid rgba(127, 145, 222, 0);
    }

    100% {
        outline: 3px solid rgba(127, 145, 222, 1);
    }
}

.vc-switch {
    background: var(--color-main) !important;
    display: none !important;
}

.mac-controller {
    -webkit-app-region: drag;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 30px;
}

.dev-bar {
    transition: opacity 0.3s;
    background: var(--color-bg-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-2);
    font-size: 0.7rem;
    box-shadow: 0 0 10px var(--color-shader);
    position: absolute;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

.dev-bar.win {
    background: transparent !important;
    width: calc(100% - 180px);
    box-shadow: unset;
    left: 90px;
}

.dev-bar:hover {
    opacity: 0;
}

.top-bar {
    -webkit-app-region: drag;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 28%);
    background: var(--color-card-2);
    margin-bottom: 10px;
    flex-direction: row;
    position: absolute;
    display: flex;
    height: 40px;
    width: 100%;
    z-index: 99;
}

.top-bar.win {
    background: var(--color-bg-yellow);
}

.top-bar > div.bar-button {
    -webkit-app-region: no-drag;
    cursor: pointer;
    height: 40px;
    width: 55px;
}

.top-bar > div.space {
    flex: 1;
}

.top-bar > div.controller {
    -webkit-app-region: no-drag;
    display: flex;
}

.top-bar > div.controller > div {
    cursor: pointer;
    transition: background 0.2s;
    justify-content: center;
    border-radius: 7px;
    display: flex;
    margin: 4px 1px;
    padding: 9px;
    width: 26px;
}

.top-bar > div.controller > div.min > svg {
    transform: scale(0.9);
}

.top-bar > div.controller > div.reflush > svg {
    transform: scale(0.9);
}

.top-bar > div.controller > div.close {
    margin-right: 4px;
}

.top-bar > div.controller > div:hover {
    background: var(--color-card-1);
}

.top-bar > div.controller > div.close:hover {
    background: #f20000dd;
}

.top-bar > div.controller > div > svg {
    color: var(--color-font);
    height: 16px;
}

.top-bar > div.controller > div.close:hover > svg {
    color: #fff;
}

#app,
#base-app {
    overflow: hidden;
    height: 100%;
}

#base-app {
    transition: transform 0.2s;
}

#base-app.no-touch {
    transform: rotate(180deg);
    padding-bottom: 30px;
}

body.with-bar #base-app {
    height: calc(100% - 40px);
    padding-top: 40px;
}

.main-body {
    flex-direction: row;
    margin-top: 0;
    display: flex;
    height: 100%;
    position: relative;
}

.side-bar {
    background: var(--color-card-1);
    flex-direction: column;
    display: flex;
    height: 100%;
    min-width: 6cm;
    padding: 0 0 calc(var(--safe-area-bottom) + 10px) 0;
    margin: 0;
    transition:
        width 0.2s,
        min-width 0.2s;
    overflow-x: hidden;
    width: var(--side-bar-width);
    position: relative;
    z-index: 1;
}

.side-bar > hr {
    margin-left: max(10px, 5%);
    margin-right: max(10px, 5%);
    margin-top: 5mm;
    margin-bottom: 0;
    width: calc(100% - max(20px, 10%));
}

.side-bar > .bottom {
    width: calc(100% - 6mm);
    color: var(--color-font);
    display: flex;
    padding: 3mm;
    align-items: center;
}

.side-bar > .bottom > div.icon {
    padding: 1.5mm;
    margin: 0;
}

.side-bar > .bottom > div.icon > svg {
    width: 4mm;
    height: 4mm;
    padding: 1.5mm;
    opacity: 0.7;
    transition: all 0.3s;
    border-radius: 5px;
}

.side-bar > .bottom > div.icon:hover > svg {
    background-color: var(--color-card-2);
    opacity: 1;
}

.side-bar > .bottom > div.icon.active > svg {
    opacity: 1;
    color: var(--color-font-r);
    border-radius: 5px;
    background-color: var(--color-main) !important;
}

.side-bar.fold {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
}

.side-bar.fold > .top {
    display: flex;
    justify-content: center;
}

.side-bar.fold > .top > span {
    display: none;
}

.side-bar.fold > .top > label {
    display: none;
}

.side-bar.fold > .top > .button {
    display: none;
}

.side-bar.fold > .top > .button.open-side-bar {
    display: block;
    margin: 0;
}

.side-bar.fold > .bottom {
    flex-direction: column;
}

.side-bar > .drag-region {
    position: absolute;
    width: 1mm;
    height: 100%;
    right: 0px;
    transition: background-color 0.3s;
    cursor: ew-resize;
}

.side-bar.fold > .drag-region {
    cursor: e-resize;
}

.side-bar > .drag-region.grabbing,
.side-bar > .drag-region:hover {
    background-color: var(--color-card-2);
}

.side-bar.hide {
    position: absolute;
    z-index: 2;
    left: calc(-1 * var(--side-bar-width));
    transition: left 0.3s;
}

.side-bar.hide.show {
    left: 0;
}

.side-bar-header {
    display: flex;
    flex-direction: column;
}

.side-bar-header > div {
    display: flex;
    margin: 15px;
}

.side-bar-header > div > span {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-font);
}

.side-bar-header > div > svg {
    margin-left: 0.5rem;
    color: var(--color-font);
    cursor: pointer;
    opacity: 0.7;
    height: 1rem;
}

.side-bar-header > label {
    height: calc(1rem + 20px);
    align-items: center;
    display: flex;
    width: calc(100% - 20px);
    background: var(--color-card-2);
    border-bottom: 1px solid var(--color-font-2);
    border-radius: 7px;
    opacity: 0.7;
    margin: 10px;
}

.side-bar-header > label > svg {
    color: var(--color-font-1);
    margin: 0 10px;
    height: 0.9rem;
}

.side-bar-header > label > input {
    background: transparent;
    font-size: 0.8rem;
    padding: 0 15px;
    height: 100%;
    width: 1px;
    margin: 5px;
    border: 0;
    min-width: unset;
    flex: 1;
}

.side-bar-main {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.change-side-bar-right-enter-active,
.change-side-bar-right-leave-active,
.change-side-bar-left-enter-active,
.change-side-bar-left-leave-active {
    transition:
        transform 0.1s,
        opacity 0.1s;
}

.change-side-bar-right-enter-from,
.change-side-bar-left-leave-to {
    transform: translateX(10%);
    opacity: 0;
}

.change-side-bar-right-leave-to,
.change-side-bar-left-enter-from {
    transform: translateX(-10%);
    opacity: 0;
}

.main-box {
    background-color: var(--color-bg);
    flex: 1;
    display: flex;
    position: relative;
    width: 100%;
}

.main-box-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box-bg > .choice-chat {
    background: var(--color-card-1);
    text-align: center;
    padding: 40px;
}

.main-box-bg > .choice-chat > svg {
    color: var(--color-main);
    width: 50px;
    height: 50px;
}

.main-box-bg > .choice-chat > span {
    font-size: 0.9rem;
    margin-top: 10px;
    display: block;
}

.home-body {
    background: var(--color-bg);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.quick-login {
    background: var(--color-card-1);
    box-shadow: unset !important;
    padding: 15px;
}

.quick-login > div.title {
    align-items: center;
    margin-bottom: 15px;
    display: flex;
}

.quick-login > div.title > span {
    flex: 1;
    text-align: left;
    color: var(--color-font-1);
    margin-left: 10px;
    font-size: 0.9rem;
    display: block;
}

.quick-login > div.title > a {
    background: var(--color-main);
    margin: 0;
    color: var(--color-font-r);
    border-radius: 7px;
    padding: 3px 10px;
    cursor: pointer;
}

.quick-login > div.list {
    max-height: calc(calc(1rem + 30px) * 2);
    overflow-y: scroll;
}

.quick-login > div.list > div {
    background: var(--color-card-2);
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
}

.quick-login > div.list > div > span {
    flex: 1;
    text-align: left;
    color: var(--color-font-1);
}

.quick-login > div.list > div > div {
    width: 1rem;
    height: 1rem;
    background: var(--color-card-1);
    border-radius: 100%;
    margin-top: 0.2rem;
}

.quick-login > div.list > div > div > div {
    background: var(--color-card-1);
    width: calc(100% - 0.4rem);
    height: calc(100% - 0.4rem);
    border: 0.2rem solid var(--color-card-1);
    border-radius: 100%;
}

.quick-login > div.list > div.select > div > div {
    background: var(--color-main);
}

.login-pan-card {
    flex: 1;
    background: var(--color-card);
    padding: 40px 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.login-pan-card > .setting {
    position: absolute;
    top: 0;
    right: 0;
}

.login-pan-card > .setting > svg {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.login-pan-card > .setting:hover > svg {
    opacity: 1;
}

.login-pan-card > svg {
    color: var(--color-main);
    height: 35%;
    width: 35%;
}

.login-pan-card p {
    color: var(--color-main);
    font-size: 1rem;
    margin: 20px;
}

.login-pan-card label {
    background: var(--color-card-1);
    width: calc(100% - 42px);
    align-items: center;
    transition: all 0.3s;
    border-radius: 50px;
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
}

.login-pan-card label:focus-within {
    background: var(--color-card-2);
}

.login-pan-card label:focus-within > svg {
    color: var(--color-main);
}

.login-pan-card label:focus-within > input {
    outline: none;
}

.login-pan-card label > input {
    background: transparent;
    width: 100%;
    height: 40px;
    flex: 1;
}

.login-pan-card label > svg {
    color: var(--color-font);
    transition: fill 0.3s;
    height: 15px;
    width: 15px;
}

.login-pan-card label.default {
    background: unset;
    border: none;
}

.login-pan-card label.default > input {
    background: unset;
    height: auto;
    flex: unset;
    width: auto;
}

.login-pan-card label.default > a {
    margin-left: 10px;
    margin-top: 0;
}

.login-pan-card button {
    margin-top: 30px;
    height: 40px;
    width: 100%;
}

.login-pan-card a {
    color: var(--color-font);
    font-size: 0.9rem;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    opacity: 0.7;
}

.side-bar-list {
    background: var(--color-card-1);
    transition: transform 0.3s;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    overflow-y: scroll;
    width: 100%;
}

.side-bar.fold .side-bar-list::-webkit-scrollbar {
    display: none;
}

.side-bar-list > div {
    transition: opacity 0.3s;
}

.side-bar-list-space {
    background: var(--color-bg);
}

.side-bar-list.show {
    transform: translateX(-100%);
}

.side-bar-list.show > div {
    opacity: 0;
}

.box-body,
.side-bar-button {
    cursor: pointer;
    display: flex;
    color: var(--color-font);
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    transform: translate(0, 0);
    transition:
        background-color 0.2s,
        color 0.2s,
        transform 0.2s;
}

.box-body {
    display: flex;
    flex-direction: column;
}

.box-body > div.side-bar-button {
    margin: -10px;
}

.box-body.unmounted > div:nth-child(1) > svg,
.box-body.unmounted > div:nth-child(1) > div,
.side-bar-button.unmounted > img,
.side-bar-button.unmounted > div {
    opacity: 0.6;
}

.box-body > div:nth-child(2) {
    height: 0px;
    transition: height 0.3s ease-in;
    display: flex;
}

.box-body.open > div:nth-child(2) {
    height: 10px;
}

.side-bar-button {
    display: flex;
    flex-direction: row;
    transition: margin 0.2s;
}

.box-body.active,
.side-bar-button.active {
    background: var(--color-main);
    color: var(--color-font-r);
}

.box-body.onmenu,
.box-body:hover,
.side-bar-button.onmenu,
.side-bar-button:hover {
    background: var(--color-card-2) !important;
}

.box-body.active:hover,
.side-bar-button.active:hover {
    background: var(--color-main) !important;
}

.side-bar-button img {
    border: 2px solid var(--color-card-2);
    pointer-events: none;
    border-radius: 7px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.side-bar-button > svg {
    transition:
        background 0.3s,
        color 0.3s;
    background: var(--color-card-2);
    color: var(--color-font);
    pointer-events: none;
    border-radius: 7px;
    padding: 15px;
    height: 25px;
    width: 25px;
}

.side-bar-button > div {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.side-bar-button > div:nth-child(1) {
    flex: unset;
    width: 4px;
    background: var(--color-main);
    border-radius: 4px;
    margin-right: 10px;
    transform: scaleY(0);
    display: unset !important;
    transition:
        transform 0.3s,
        margin 0.3s;
    margin-left: -13px;
}

.side-bar-button.active > div:nth-child(1) {
    background: var(--color-font);
}

.side-bar-button > div:nth-child(1).new {
    transform: scaleY(0.5);
    margin-left: 3px;
}

.side-bar-button > div p {
    font-weight: bold;
    margin: 0;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.side-bar-button > div > div {
    align-items: center;
    display: flex;
}

.side-bar-button .boxes-bar,
.side-bar-button > div > div a {
    color: var(--color-font-1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
    flex: 1;
}

.side-bar-button > div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.side-bar-button > div:nth-child(3) > div:nth-child(2) {
    flex: 1;
}

.side-bar-button .boxes-bar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.side-bar-button .boxes-bar > svg {
    display: inline;
    transform: unset;
    height: 1.2rem;
    width: unset;
    flex-shrink: 0;
}

.side-bar-button.active > div > div a {
    color: var(--color-font-1-r);
}

.side-bar-button > div > div a.time {
    flex: unset;
    margin-left: 15px;
    font-size: 0.8rem;
    opacity: 0.7;
    overflow: unset;
}

.side-bar-button > div > div a.highlight {
    color: var(--color-red);
    flex: none;
    width: auto;
    overflow: visible;
}

.side-bar-button > div > div svg {
    width: 0.6rem;
    color: var(--color-font);
    opacity: 0.7;
    transform: rotate(45deg);
    margin-right: 5px;
}

.side-bar-button.active > div > div svg {
    color: var(--color-font-r);
}

.side-bar-button > a {
    font-size: 0.9rem;
    color: var(--color-font-2);
}

.side-bar-button.active > a {
    color: var(--color-font-1-r);
}

.box-body > div:nth-child(1) > svg {
    background-color: var(--box-color);
}

.box-content {
    overflow-y: hidden;
    transition: height 0.2s ease-out;
    height: calc(var(--content-num) * (54px + 30px) + 10px);
    background-color: var(--color-card-1);
    border-radius: 5px;
}

.msg-menu-body {
    border: 1px solid var(--color-shader);
    background: rgba(var(--color-bg-rgb), 0.7);
    box-shadow: 0 0 5px var(--color-shader);
    backdrop-filter: blur(50px);
    transition: transform 0.1s;
    transform-origin: top;
    transform: scaleY(1);
    pointer-events: all;
    min-height: unset;
    min-width: 100px;
    max-width: 130px;
    padding: 10px;
}

.msg-menu-body.topOut {
    transition:
        transform 0.1s,
        margin-top 0.2s;
}

.chat-menu-enter-active,
.chat-menu-leave-active {
    transition: transform 0.2s;
}

.chat-menu-enter-active > div > div {
    animation: show-chat-menu 0.2s ease-out;
}

.chat-menu-leave-active > div > div {
    animation: show-chat-menu 0.25s ease-out reverse;
}

.menu div.item,
.msg-menu-body > div {
    transition: background 0.3s;
    background: transparent;
    align-items: center;
    border-radius: 7px;
    padding: 3px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.msg-menu-body > div:hover {
    background: var(--color-main);
}

.menu div.item > svg {
    margin-right: 0 !important;
    height: 1rem;
    width: 1rem !important;
}

.msg-menu-body > div > div > svg {
    transition:
        color 0.3s,
        opacity 0.3s;
    color: var(--color-font-1);
    margin-top: 7px;
    height: 1rem;
    width: 1rem;
}

.msg-menu-body > div:hover > div > svg {
    color: var(--color-font-r);
    opacity: 1;
}

.msg-menu-body > div > a {
    color: var(--color-font);
    text-overflow: ellipsis;
    transition: color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

.msg-menu-body > div:hover > a {
    color: var(--color-font-r);
}

.ss-range {
    --range-dot-height: 26px;
    --range-height: 26px;
    flex-direction: row !important;
    display: flex !important;
}

.ss-range input {
    background-image: linear-gradient(var(--color-main), var(--color-main));
    background-color: var(--color-card-1);
    background-repeat: no-repeat;
    height: var(--range-height);
    background-size: 0% 100%;
    border-radius: 7px;
    min-width: 100%;

    -webkit-appearance: none;
    appearance: none;
}

.ss-range input::-webkit-slider-thumb,
.ss-range input::-moz-range-thumb {
    -webkit-appearance: none;

    height: calc(var(--range-dot-height) - 8px);
    width: calc(var(--range-dot-height) - 8px);
    box-shadow: 0 0 5px var(--color-shader);
    background: var(--color-main);
    border: 5px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.ss-range span {
    line-height: var(--range-height);
    transform: translateX(-50%);
    color: var(--color-font);
    pointer-events: none;
    margin-left: -50%;
}

.app-msg {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: calc(100% - 20px - var(--safe-area-bottom));
    width: calc(100% - 20px);
    pointer-events: none;
    position: absolute;
    padding-left: 90px;
    display: flex;
    z-index: 10;
    left: 0;
    top: 0;
}

.app-msg > div {
    box-shadow: 0 0 5px var(--color-shader);
    background: var(--color-main);
    overflow-wrap: anywhere;
    align-items: center;
    pointer-events: all;
    width: fit-content;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 5px;
    max-width: 20%;
    display: flex;
}

.app-msg > div svg {
    color: var(--color-font-r);
}

.app-msg > div > div:first-child > svg {
    color: var(--color-font-r);
    margin-top: 5px;
    height: 1rem;
}

.app-msg > div > a {
    color: var(--color-font-r);
    margin: 0 10px;
}

.app-msg > div > div:last-child {
    border-radius: 7px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.app-msg > div > div:last-child:hover {
    background: rgba(0, 0, 0, 0.03);
}

.app-msg > div > div:last-child > svg {
    color: var(--color-font-1-r);
    margin-left: 5px;
    margin-top: 3px;
    height: 1rem;
}

.pop-box {
    position: absolute;
    user-select: text;
    height: 100%;
    z-index: 20;
    width: 100%;
    left: 0;
    top: 0;
}

.pop-box > div:last-child {
    opacity: 0;
    height: 100%;
    width: 100%;
}

.pop-box-background {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    background: var(--color-card-2);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.pop-box-body {
    flex-direction: column;
    transition: all 0.2s;
    margin-top: 50vh;
    position: absolute;
    width: fit-content;
    margin-left: 50%;
    min-width: 360px;
    display: flex;
    z-index: 20;
    max-height: 75vh;
    max-width: calc(100% - 80px);
}

.pop-box-body.full {
    height: calc(100vh - 120px);
    transform: unset !important;
    margin: 60px 20px 0 20px;
    width: calc(100% - 80px);
}

.pop-box-body.full iframe {
    height: calc(100vh - 145px);
}

.pop-box-body.full.window {
    height: calc(100vh - 80px);
    margin: 30px 20px 0 20px;
}

.pop-box-body.full.window iframe {
    height: calc(100vh - 105px);
}

.pop-box-body > header {
    align-items: center;
    display: flex;
}

.pop-box-body > header > div:first-child {
    background: transparent;
    margin-right: 10px;
    height: 1rem;
    width: unset;
}

.pop-box-body > header svg {
    color: var(--color-font);
    height: 1rem;
}

.pop-box-body > header svg:last-child {
    cursor: pointer;
}

.pop-box-body > header a {
    color: var(--color-font);
    font-weight: bold;
    font-size: 1rem;
    flex: 1;
}

.pop-box-body > div:not(:last-child) {
    padding: 20px;
}

.pop-box-body > div.button {
    background: var(--color-card-1);
    margin: 0 -20px -20px -20px;
    border-radius: 0 0 7px 7px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    display: flex;
}

.pop-box-body > div.button > button {
    background: var(--color-card-2);
    color: var(--color-font);
    margin-left: 10px;
    padding: 0 15px;
    cursor: pointer;
}

.pop-box-body > div.button > button.master {
    background: var(--color-main);
    color: var(--color-font-r);
}

.pop-box-more {
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
    z-index: -1;
    width: 100%;
}

.pop-box-more > div {
    box-shadow: 0 0 3px var(--color-bg);
    background: var(--color-card);
    border-radius: 0 0 7px 7px;
    margin: 0 10px;
    height: 10px;
}

.pop-box-more > div.hid {
    height: 0;
}

.pop-box-enter-active,
.pop-box-leave-active {
    transition: all 0.2s ease-in-out;
    animation: none 0.2s;
}

.pop-box-enter-from,
.pop-box-leave-to {
    opacity: 0;
}

.pop-box-leave-to.move-close {
    opacity: 1;
}

.pop-box-leave-to.move-close > div.pop-box-body {
    transform: translate(50vw, -50%) !important;
}

.update-info {
    margin: -20px -20px 0px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.update-info > span {
    color: var(--color-main);
    font-weight: bold;
    font-size: 1rem;
}

.update-info > a {
    color: var(--color-font-2);
    font-size: 0.8rem;
}

.update-info > div {
    width: calc(100% - 30px);
}

.update-info > div.title {
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.update-info > div.title > img {
    outline: 2px solid var(--color-main);
    border: 1px solid var(--color-bg);
    height: calc(1.5rem - 3px);
    border-radius: 100%;
}

.update-info > div.title > a {
    color: var(--color-main);
    margin-left: 10px;
    flex: 1;
}

.update-info > div.title > span {
    color: var(--color-font-2);
    font-size: 0.8rem;
}

.update-info > div.info {
    background: var(--color-bg);
    flex-direction: column;
    align-items: flex-start;
    border-radius: 7px;
    margin-top: 15px;
    padding: 15px;
    display: flex;
}

.update-info > div.info > span {
    color: var(--color-main);
}

.update-info > div.info > span::before {
    content: '\2022';
}

.update-info > div.info > div {
    overflow-y: scroll;
    max-height: 20vh;
    margin-top: 10px;
    width: 100%;
}

.update-info > div.info > div > div > span {
    color: var(--color-font);
}

.hiden-home {
    display: none !important;
}

.qq-err-card {
    margin: -40px -30px -20px -30px;
}

.qq-err-card > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -5px;
    height: 2rem;
}

.qq-err-card > div:first-child img {
    margin-right: 10px;
}

.qq-err-card > div:first-child span {
    font-size: 0.9rem;
    color: var(--color-font);
    flex: 1;
}

.qq-err-card > div:first-child span span {
    opacity: 0.1;
    margin-left: 5px;
    color: var(--color-font-2);
}

.qq-err-card > div:first-child svg {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-font-2);
}

.qq-err-card > div:last-child {
    padding: 10px;
    color: var(--color-font);
    margin: 0 -8px -3px -8px;
}

.qq-err-card > div:last-child hr {
    margin: 5px 0;
    background: var(--color-font-2);
    opacity: 0.7;
    border-bottom: 1px solid #fff;
}

.qq-err-card > div:last-child > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.qq-err-card > div:last-child > div:first-child img {
    margin-right: 15px;
}

.qq-err-card > div:last-child > div:first-child span {
    font-size: 0.7rem;
}

.qq-err-card > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}

.qq-err-card > div:last-child > div:last-child div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.qq-err-card > div:last-child > div:last-child textarea {
    max-height: 100px;
    height: 100px;
    border: 0;
    margin: 10px 0;
    border-bottom: 1px solid var(--color-font-2);
    border-radius: 3px;
    background: var(--color-bg);
    padding: 10px;
    color: var(--color-font-2);
}

.qq-err-card > div:last-child > div:last-child button {
    width: 90px;
    border: 1px solid #007bff;
    border-radius: 7px;
    background: var(--color-bg);
    color: var(--color-font);
}

.qq-err-card-err {
    color: var(--color-font-2);
    margin-bottom: 10px;
}

.qq-err-card-err span:last-child {
    flex: 1;
    text-align: center;
}

.qq-err-card-err a {
    color: #007bff;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.qq-err-card-err a span:first-child {
    transform: rotate(90deg);
    display: inline-block;
    margin-right: 5px;
}

.view-iframe {
    margin: -40px -40px -20px -40px;
    width: calc(100% + 80px);
    border-radius: 7px;
    border: none;
}

.config-box {
    display: flex;
    max-height: 60vh;
}

.config-box input {
    max-width: unset;
    min-width: unset;
    background-color: var(--color-card-1);
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    flex: 1;
}

.config-box-base {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    flex: 1;
}

.config-box-base > div:nth-child(1) {
    pointer-events: none;
    background-color: var(--color-card-1);
}

.color-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.color-select > div {
    height: 2rem;
    margin: 0 10px;
    border-radius: 5px;
}

.color-select > div:nth-child(1) {
    position: absolute;
    z-index: 1;
    width: calc(100% - 20px);
    background-color: var(--color);
    transition: all 0.2s;
}

.color-select > div:nth-child(1):hover {
    opacity: 0;
}

.color-select > div:nth-child(2) {
    background: linear-gradient(
        to right,
        hsl(0, 50%, 50%),
        hsl(60, 50%, 50%),
        hsl(120, 50%, 50%),
        hsl(180, 50%, 50%),
        hsl(240, 50%, 50%),
        hsl(300, 50%, 50%),
        hsl(360, 50%, 50%)
    );
}

.icon-select {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    overflow-y: auto;
    max-height: 50vh;
    align-content: flex-start;
}

.icon-select > svg {
    width: 2rem;
    height: 2rem;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

.icon-select > svg:hover {
    background-color: var(--color-card-2);
}

.icon-select > svg.selected {
    background-color: var(--color-main);
    transition: all 0.3s;
    color: var(--color-font-r);
}

.box-search {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 350px;
}

.box-search > div:nth-child(1) {
    display: flex;
}

.box-search > div:nth-child(2) {
    flex: 1;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.box-search > div:nth-child(2) > div {
    width: calc(100% - 20px);
}

.mask-background {
    transition: background 0.3s;
    background-color: rgba(var(--color-card-2-rgb), 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
}

.global-session-search-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 60vw;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    max-height: 50vh;
    transition: height 0.2s;
    z-index: 20;
    box-shadow: 0 0 5px var(--color-shader);
}

.global-session-search-bar > hr {
    width: 100%;
}

.global-session-search-bar > input {
    max-width: unset;
    min-height: 35px;
}

.global-session-search-bar > div {
    overflow-y: scroll;
}

.global-session-search-bar > div > div {
    display: flex;
    align-items: center;
}

.global-session-search-bar > div > div > :nth-child(1) {
    flex: 1;
}

.global-session-search-bar > div > div.session-item {
    border-radius: 7px;
    width: 100%;
    overflow-x: hidden;
}

.global-session-search-bar > div > div.session-item:hover,
.global-session-search-bar > div > div.session-item.selected {
    background-color: var(--color-card-2);
}

.global-session-search-bar > div > div.session-item > div {
    pointer-events: none;
    width: calc(100% - 20px - 4rem);
}

.global-session-search-bar > div > div.session-item > span {
    color: var(--color-font-1);
    font-size: 0.8rem;
    min-width: 4rem;
    margin-right: 10px;
}

.global-session-search-bar-enter-active,
.global-session-search-bar-leave-active {
    z-index: 20;
    transition: opacity 0.2s;
}

.global-session-search-bar-enter-from,
.global-session-search-bar-leave-to {
    opacity: 0 !important;
}

.viewer-bar {
    position: absolute;
    z-index: 31;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    transition: opacity 0.2s;
}

.viewer-bar::before,
.viewer-bar::after {
    content: '';
    margin: auto;
}

.viewer-tool-config-bar {
    bottom: calc(3% + 80px + var(--safe-area-bottom));
}

.viewer-tool-config-bar > div.color {
    width: 24px;
    height: 24px;
    border: solid 3px var(--color-card);
    background-color: var(--color);
    margin: 5px;
    border-radius: 7px;
    transition: 0.2s;
}

.viewer-tool-config-bar > div.line-width {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    background-color: var(--color-main);
    border-radius: 7px;
    transition: 0.2s;
    display: flex;
}

.viewer-tool-config-bar > div.line-width > div {
    width: var(--line-width);
    height: var(--line-width);
    background-color: var(--color-card);
    margin: auto;
    border-radius: var(--line-width);
}

.viewer-tool-config-bar > div.color:hover,
.viewer-tool-config-bar > div.line-width:hover {
    transform: rotate(45deg);
}

.viewer-tool-config-bar > svg.rect-is-fill {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    color: var(--color-card);
    background-color: var(--color-main);
    border-radius: 7px;
    transition: 0.2s;
}

.viewer-tool-config-bar > hr {
    width: 0px;
    margin: auto 2px;
    height: 15px;
    border: solid 1px var(--color-font);
}

.viewer-tool-config-bar > svg:hover {
    background-color: var(--color-font);
}

.viewer-tool-config-bar > div.active {
    border-radius: 15px;
}

.viewer-button-bar {
    bottom: calc(3% + var(--safe-area-bottom));
    opacity: 0;
}

.viewer-button-bar.force-show,
.viewer-button-bar:hover {
    opacity: 1;
}

.viewer-button-bar > svg {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 10px;
    background-color: var(--color-main);
    color: var(--color-card);
    border-radius: 10px;
    transition: background 0.2s;
    flex-shrink: 1;
}

.viewer-button-bar > svg:hover {
    background-color: var(--color-font);
    color: var(--color-font-r);
}

.viewer-button-bar > svg.active {
    border-radius: 30px;
}

.viewer-button-bar > hr {
    display: block;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px var(--color-font);
    flex-shrink: 1;
}

.viewer-button-enter-active,
.viewer-button-leave-active {
    transition: all 0.2s;
}

.viewer-button-enter-from,
.viewer-button-leave-to {
    transform: translate(0, 100%);
    opacity: 1;
}

.viewer-tool-config-enter-from,
.viewer-tool-config-leave-to {
    width: 1px !important;
    height: 1px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    opacity: 0;
}

.viewer-bar.dragging {
    opacity: 0;
    pointer-events: none;
}

.viewer-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.viewer-img > canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.viewer-img > img,
.viewer-img > canvas {
    margin-top: calc(50vh - var(--height) * var(--scale) / 2 + var(--y));
    margin-left: calc(50vw - var(--width) * var(--scale) / 2 + var(--x));
    transition: all 0.2s;
    width: calc(var(--width) * var(--scale));
    height: calc(var(--height) * var(--scale));
    transform-origin: center;
    transform: rotate(var(--rotate));
}

.viewer-img.grab > img,
.viewer-img.grab > canvas {
    transition: none;
}

.viewer.loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 1;
    color: var(--color-font);
    font-size: 3rem;
}

.viewer.loading > svg {
    color: var(--color-main);
}

.viewer-img > div.scrollbar {
    user-select: none;
    cursor: pointer;
    position: absolute;
    background: rgba(var(--color-bg-rgb), 0.7);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.viewer-img > div.x {
    left: 0;
    bottom: 8px;
    width: 100vw;
    height: 12px;
}

.viewer-img > div.y {
    right: 8px;
    top: 0;
    width: 12px;
    height: 100vh;
}

.viewer-img.grab > div.scrollbar,
.viewer-img.zooming > div.scrollbar,
.viewer-img > div.scrollbar.dragging,
.viewer-img > div.scrollbar:hover {
    opacity: 1;
}

.viewer-img > div.scrollbar > div.scrollbar-thumb {
    position: absolute;
    background: var(--color-main);
    opacity: 0.7;
    border-radius: 4px;
}

.viewer-img > div.x > div.scrollbar-thumb {
    left: calc(var(--pos) * 100vw);
    top: 2px;
    width: max(calc(var(--thumb) * 100vw), 40px);
    height: 8px;
}

.viewer-img > div.y > div.scrollbar-thumb {
    top: calc(var(--pos) * 100vh);
    right: 2px;
    height: max(calc(var(--thumb) * 100vh), 40px);
    width: 8px;
}

.viewer-change-img-next-leave-active,
.viewer-change-img-next-enter-active,
.viewer-change-img-prev-leave-active,
.viewer-change-img-prev-enter-active {
    transition: all 0.15s ease-in-out;
}

.viewer-change-img-prev-enter-from,
.viewer-change-img-next-leave-to {
    transform: translateX(-100%);
}

.viewer-change-img-prev-leave-to,
.viewer-change-img-next-enter-from {
    transform: translateX(100%);
}

.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-exit {
    cursor: url(@renderer/assets/img/icons/exit.png), auto;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-pen {
    cursor:
        url(@renderer/assets/img/icons/pen.png) 0 24,
        auto;
}

.cursor-crosshair {
    cursor: crosshair;
}

@media (max-width: 900px) {
    /* emm...好难写啊...开摆，直接不写了 */
    .box-search {
        display: none;
    }
}

.session-body-container {
    container-type: inline-size;
    container-name: session-body;
}

@container session-body (max-width: 100px) {
    .side-bar-button {
        background: transparent !important;
        justify-content: center;
        padding: 2px;
        margin: 2px;
    }

    .box-body {
        background: transparent !important;
        padding: 2px;
        margin: 2px;
        transition:
            background 0.3s,
            padding 0.3s;
    }

    .box-body > div.side-bar-button {
        margin: -2px;
    }

    .side-bar-button > :nth-child(3) {
        display: none !important;
    }

    .box-body.onmenu {
        background: var(--color-card-2) !important;
    }

    .box-body > div.session-body-container > div.box-content {
        margin-top: 2px;
    }

    .box-body.active {
        background: var(--color-main) !important;
    }

    .box-body > div.session-body-container {
        border-radius: 5px;
    }

    .box-body > div.session-body-container > div.box-content {
        height: calc(var(--content-num) * (49px + 2px) + 2px);
    }

    .box-body > div:nth-child(2) {
        display: none;
    }

    .side-bar-button > div {
        display: none;
    }

    .side-bar-button img {
        height: 45px;
        width: 45px;
        border: 0;
    }

    .side-bar-button > svg {
        height: 25px;
        width: 25px;
        padding: 10px;
    }

    .side-bar-button.active {
        background-color: var(--color-main) !important;
    }

    .side-bar-button.active:hover {
        background-color: var(--color-main) !important;
    }

    .side-bar-button > div:nth-child(1) {
        transform: scaleY(1);
        position: absolute;
        display: none !important;
    }

    .side-bar-button > div:nth-child(1).new {
        border-radius: 100%;
        display: block !important;
        height: 15px;
        width: 15px;
        transform: unset;
        right: -3px;
        top: 4px;
    }
}

.box-content-enter-active,
.box-content-leave-active {
    animation: none 0.3s;
}

.box-content-enter-from div.box-content,
.box-content-leave-to div.box-content {
    height: 0 !important;
}

@media (max-width: 700px) {
    /* 应用消息 */
    .app-msg {
        height: calc(100% - 90px - var(--safe-area-bottom));
        padding-left: 20px;
    }

    .app-msg > div {
        max-width: calc(100% - 80px);
    }

    /* 右击菜单 */
    .msg-menu-body {
        width: 30%;
    }

    .msg-menu-body > div {
        padding: 5px 15px;
    }
}

@media (max-width: 500px) {
    /* 全局通用弹窗 */
    .pop-box-body {
        max-height: calc(100vh - 80px);
        width: calc(100% - 80px);
        min-width: unset;
        margin: 20px;
        bottom: 0;
    }

    .pop-box-body.full {
        width: calc(100% - 70px) !important;
        margin-bottom: 20px !important;
    }

    .pop-box-more {
        display: none;
    }

    .pop-box-enter-active > div.pop-box-body,
    .pop-box-leave-active > div.pop-box-body {
        transform-origin: bottom;
    }

    .pop-box-enter-from > div.pop-box-body,
    .pop-box-leave-to > div.pop-box-body {
        transform: scaleY(0);
    }

    .pop-box-enter-from.pop-box-background,
    .pop-box-leave-to.pop-box-background {
        transform: unset;
    }

    .pop-box-leave-to.move-close > div.pop-box-body {
        transform: translateX(100vw) !important;
    }
}

/* 全局淡入淡出动画 */
.v-enter-active,
.v-leave-active {
    transition: all 0.4s ease;
}

.v-enter-active > div.ss-card,
.v-leave-active > div.ss-card {
    transition: all 0.2s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

/* 如果里面有卡片，触发卡片浮入浮出动画 */
/* TODO: 对于本来就使用 translate 定位的卡片会失效（或者出问题） */
.v-enter-from > div.ss-card {
    transform: translateY(-20px);
}

.v-leave-to > div.ss-card {
    transform: translateY(20px);
}

@keyframes wordsLoop {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(calc(-100% + 2.35rem));
    }

    100% {
        transform: translateX(calc(-100% + 2.35rem));
    }
}

@keyframes show-chat-menu {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

input.input-pop-box {
    background-color: var(--color-card-1);
    padding: 5px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
}

.default-menu-enter-active {
    animation: default-menu-enter 0.3s ease-in-out;
}
.default-menu-leave-active {
    animation: default-menu-enter 0.3s ease-in-out reverse;
}
.history-box > .space {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.history-box > .space > svg {
    font-size: 50px;
    color: var(--color-main);
}

.history-box > .main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
}

.history-box > .main > div {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
}

.history-box > .main > div:hover {
    background-color: var(--color-card-2);
}

.history-box > .main > div > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid var(--color-main);
    margin-right: 5px;
}
@keyframes default-menu-enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
